/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
html,body{
	padding:0;
	margin:0;
	background:#fff;
font-family: 'Nosifer', cursive;
 }
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	text-decoration:none;
}
body a:hover {
	text-decoration: none;
}

body a:focus, a:hover {
	text-decoration: none;
}
input[type="email"],input[type="text"]
input[type="button"],input[type="submit"]{
	font-family: 'Nosifer', cursive;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;	
	padding:0;
font-family: 'Nosifer', cursive;
	letter-spacing:1px;
}	
p{
	margin:0;
	padding:0;
	letter-spacing:1px;
font-family: 'Pavanam', sans-serif;
word-spacing:3px;
}
ul{
	margin:0;
	padding:0;
}
/*-- //Reset-Code --*/
body {
    background: url(../images/b8.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100vh;
}
h1.error {
    padding-top: 70px;
text-align:center; 
color:#ff0303;
    text-transform: uppercase;
    letter-spacing: 14px;
	text-shadow: 2px 3px rgba(0, 0, 0, 0.42);
}
.top-w3ls {
    width: 46%;
    text-align: center;
    margin: 2em auto 0em;
    box-sizing: border-box;
}
.top-w3ls h2 {
    font-size: 12em;
    color:rgba(255, 255, 255, 0.74);
    letter-spacing: 14px;
    line-height: 1;
    font-weight: 600;
    padding-bottom: 7px;
}
.top-w3ls h3 {
    font-size: 50px;
    color: #FFEB3B;
    letter-spacing: 2px;
    padding: 58px 0px;
    line-height: 1;
    font-family: 'Pavanam', sans-serif;
}
ul.nav {
display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.nav-link {
    font-size: 14px;
    color: #ff0303;
    letter-spacing: 2px;
}
.icons ul li a {
    color: #fff;
    border: 1px solid #fff;
    width: 31px;
    height: 31px;
    line-height: 2.4;
    border-radius: 20px;
    display: inline-block;
    -webkit-border-radius: 20px;
    font-size: 15px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
}
.icons ul li a span.fa {
    font-size: 15px;
    margin: 0.5em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.icons ul li {
    display: inline-block;
    margin: 0px 6px;
}
.copyright p {
    font-size: 14px;
    color: #fff;
    letter-spacing: 3px;
    padding-top: 25px;
}
.copyright p a {
    color: #ffffff;
    text-decoration: underline;
}
.copyright {
    text-align: center;
    padding: 2em;
}
.copyright p a:hover {
    color: rgb(255, 229, 0);
}
/*--responsive--*/
@media(max-width:1920px){
	h1.error {
    font-size: 65px;
	}
	.copyright p {
    padding-top: 35px;
}
}
@media(max-width:1680px){
		h1.error {
    font-size: 60px;
	}
	.copyright p {
    padding-top:30px;
}
}
@media(max-width:1600px){
	h1.error {
    font-size: 55px;
	}	
	.copyright p {
    padding-top: 25px;
}
}
@media(max-width:1440px){
	.top-w3ls h2 {
    font-size: 10em;
	}
	.top-w3ls h3 {
    font-size: 45px;
    padding: 51px 0px;
}
}
@media(max-width:1366px){
	
	h1.error {
    font-size: 51px;
	letter-spacing:10px;
	}
}

@media(max-width:1280px){
.top-w3ls h3 {
    font-size: 41px;
}	
}
@media(max-width:1080px){

.top-w3ls h3 {
    font-size: 38px;
    letter-spacing: 1px;	
}
.top-w3ls h2 {
    font-size: 9em;
}
h1.error {
    font-size: 49px;
    letter-spacing: 8px;
}
}
@media(max-width:1050px){
	.top-w3ls {
    width: 50%;
	}
	h1.error {
    padding-top: 54px;
	}
	.top-w3ls h3 {
    padding: 43px 0px;
}
}
@media(max-width:1024px){
.copyright {
    padding:1.5em;
}
.top-w3ls h3 {
    padding: 34px 0px;
}
}
@media(max-width:991px){
.top-w3ls h2 {
    font-size: 8em;
}
h1.error {
    font-size: 46px;
    letter-spacing: 6px;
}	
}
@media(max-width:900px){
.top-w3ls h3 {
    font-size: 35px;
}
.top-w3ls {
    width: 53%;
}	
}
@media(max-width:800px){
	.top-w3ls {
    width: 61%;
}
.copyright {
    padding: 1.3em;
}
h1.error {
    font-size: 43px;
    letter-spacing: 4px;
	    padding-top: 46px;
}

}
@media(max-width:768px){
.copyright p {
    letter-spacing: 2px;	
}
.top-w3ls {
    margin: 1.8em auto 0em;
}
}
@media(max-width:767px){
	.top-w3ls h3 {
    padding: 40px 0px;
}
}
@media(max-width:736px){
.top-w3ls {
    width: 66%;
}
h1.error {
    font-size: 41px;
    letter-spacing: 2px;
}
.icons ul li a {
    line-height: 2.6;
    font-size: 14px;
}	
}
@media(max-width:667px){
	.top-w3ls h2 {
    font-size: 7em;
}
.top-w3ls h3 {
    padding: 37px 0px;
	 font-size:32px;
}
h1.error {
    font-size: 38px;
    letter-spacing: 3px;
}
.top-w3ls {
    width: 70%;
}
}
@media(max-width:640px){
.top-w3ls {
    margin: 1.5em auto 0em;
}
.copyright p {
    letter-spacing: 1px;
}	
}
@media(max-width:600px){
	h1.error {
    font-size: 35px;
    letter-spacing: 1px;
}
.top-w3ls h2 {
    font-size: 6em;
}
}
@media(max-width:568px){
	.top-w3ls {
    width: 76%;
}
.top-w3ls h3 {
    font-size: 29px;
}
}
@media(max-width:480px){
h1.error {
    font-size: 31px;
}	
.top-w3ls {
    width: 83%;
}
.copyright p {
    line-height: 28px;
}
}
@media(max-width:440px){
	h1.error {
    font-size: 27px;
}
.top-w3ls h2 {
    font-size: 5em;
}
.top-w3ls h3 {
    font-size: 26px;
}
}
@media(max-width:414px){
	.top-w3ls h3 {
    padding: 29px 0px;
}
}
@media(max-width:384px){
	.top-w3ls {
    width: 91%;
}
.copyright p {
    padding-top: 20px;
}
}
@media(max-width:375px){
	.top-w3ls h2 {
    font-size: 4em;
}
.top-w3ls h3 {
    font-size: 24px;
}
.nav-link {
    font-size: 13px;
    letter-spacing: 1px;
}
}
@media(max-width:320px){
	h1.error {
    font-size: 25px;
}
.top-w3ls h3 {
    font-size: 21px;
}
.top-w3ls {
    width: 95%;
}
}
/*--//responsive--*/
